# Terraform local dirs & state
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Local variable files (real values)
terraform.tfvars
*.auto.tfvars

# Editor/OS junk
*.swp
*.swo
.DS_Store

# PKI / Secrets (when you add them later)
pki/
*.pem
*.key
*.crt
*.csr

# kubeconfigs (when you add them later)
*kubeconfig

**/*-key.pem
**/ca-key.pem
**/service-account-key.pem
admin-csr.json
ca-config.json
ca-csr.json
*-csr.json
*-config.json

.idea/
