aws_region       = "us-east-1"
your_ip_cidr     = "1.2.3.4/32"  # your real public IP
debian_ami_arm64 = "ami-0e78552dfe55a150a"
public_key_path  = "~/.ssh/id_ed25519_kthw.pub"
worker_count     = 2
instance_type    = "t4g.small"
